.card {
  position: relative;
  width: 370px;
  height: 200px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 5px 25px 15px;
  margin: 20px;
}
.card__title {
  font-size: 20px;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0 10px 0;
}
.card__description {
  font-size: 14px;
  font-weight: 400;
  margin-top: -5px;
}
.card__button {
  position: absolute;
  bottom: 20px;
  background-color: #668fa9;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s all;
  opacity: 1;
}
.card__button:hover {
  opacity: 0.9;
  transition: 0.2s all;
}

.card__status {
  position: absolute;
  top: 25px;
  right: 20px;
  font-weight: 700;
  font-size: 10px;
}
